html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#pdfContainer {
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2; /* Gray background for header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Gray background for even rows */
}

tr:hover {
    background-color: #ddd; /* Dark gray background on hover */
}